body {
  font-family: "Mulish", sans-serif;
  max-width: 414px;
  width: 414px;
}
.page {
  max-width: 414px;
  width: 414px;
  background-color: #e5e5e9;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 35px;
  padding-right: 35px;
}

.container .left-column {
  width: 50px;
  flex: 1;
}

.logo {
  width: 314px;
  text-align: center;
}

.story {
  list-style: none;
}

.story li {
  display: inline-block;
  height: 83px;
  min-height: 83px;
  max-height: 83px;
  padding-left: 8px;
}

.story li:first-child {
  padding-left: 0px;
}

article.post {
  width: 353px;
  margin: 0 auto;
  background-color: white;
  border-radius: 33px;
  padding: 12px;
  margin-bottom: 20px;
}

article .post-top {
  display: flex;
  flex-direction: row;
  width: 310px;
  margin: 0 auto;
}

article .avatar {
  margin-right: 8px;
}

article .info h4 {
  margin-top: 0;
  margin-bottom: -5px;
  font-size: 14px;
}

article .info {
  width: 78%;
}

article .main-foto {
  text-align: center;
}

article .info span {
  font-size: 12px;
  color: #878d98;
}

article .buttons {
  display: flex;
  width: 310px;
  margin: 10px auto;
}

article .heart {
  display: flex;
  background-color: #eaeef1;
  border-radius: 14px;
  padding: 5px;
  margin-right: 20px;
  align-items: center;
}

article .heart img {
  max-width: 25px;
}

article .comment {
  display: flex;
  padding: 5px;
  margin-right: 15px;
  align-items: center;
}

article .comment img {
  max-width: 27px;
}

article .send img {
  max-width: 33px;
}

article .bookmark {
  align-items: center;
  display: flex;
  margin-left: 93px;
}

article .heart span,
article .comment span {
  font-size: 14px;
  font-weight: 600;
}

article .likes {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}

article .who-like ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

article .who-like ul li {
  display: inline-block;
  margin-right: -17px;
  position: relative;
}

article .who-like ul li:nth-child(1) {
  z-index: 5;
}

article .who-like ul li:nth-child(2) {
  z-index: 1;
}

article .who-like ul li:nth-child(3) {
  z-index: 0;
}

article .like-name span {
  font-size: 10px;
  font-weight: 600;
}

article .more button {
  max-width: 53px;
  border-radius: 16.5px;
  background-color: #eaeef1;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  border: 0;
  min-width: 53px;
  min-height: 24px;
}

section.footer {
  height: 114px;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 414px;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  border-radius: 40px 40px 0px 0px;
}

.footer .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 344px;
  margin-top: 22px;
}

.footer .menu li {
  width: 37px;
  height: 37px;
  margin: 5px;
  line-height: 50px;
}

.footer .home-indicator {
  position: absolute;
  width: 414px;
  height: 37px;
  top: 79px;
}

/************************************ Search Page **************************************/

.container-search .search-nav {
  overflow: hidden;
  background-color: #eaeef1;
  width: 338px;
  height: 42px;
  padding-left: 14px;
  border-radius: 19px;
  margin-bottom: 9px;
}

.search-text input[type="text"] {
  float: left;
  font-family: "Mulish", sans-serif;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 400;
  background-color: #eaeef1;
}

.search-icon {
  border: none;
  background-color: #eaeef1;
  margin-left: 109px;
  margin-top: 10px;
}

.container-search {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 57px;
}

.upper-case {
  background-color: #ffffff;
  border-radius: 0px 0px 38px 38px;
}

.scan {
  display: inline-block;
  width: 0;
  margin-top: 10px;
}

.scan img {
  margin-left: 15px;
}

.discover {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.discover li a {
  border-radius: 21px;
  width: 89px;
  border: none;
  background-color: #ffffff;
  display: flex;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}

.discover li a:hover {
  background-color: #000;
  color: #fff;
}

.discover li a:hover img {
  filter: invert(1);
}

.discover li img {
  position: relative;
  margin-top: 8px;
  margin-left: 7px;
}

.discover li span {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-left: 6px;
}

/**************************   Photos Kismi   **********************************/

.photos ul {
  column-count: 2;
  column-gap: 12px;
  padding: 12px;
}

.photos ul li {
  display: grid;
  break-inside: avoid;
  grid-template-rows: 1fr auto;
  margin-bottom: 12px;
}

/****************************** Profile ***************************************/

.username {
  width: 119px;
  height: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  margin-right: 79px;
  color: #878d98;
}

.page-profile {
  max-width: 414px;
  width: 414px;
  background-color: white;
  overflow: hidden;
}

.right-column-pp {
  list-style: none;
}

.pic-phase {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.mid-pp {
  justify-content: center;
  display: flex;
}

.number {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.texty {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #878d98;
}

.pic-phase .pp {
  position: relative;
  text-align: center;
  width: 70px;
}

.number h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.follower,
.following {
  line-height: 0;
  width: 85px;
  text-align: center;
  height: 10px;
}

.profil_picture {
  width: 63px;
  z-index: 5;
  position: relative;
  margin-left: 2px;
  margin-top: 2px;
  border-radius: 23px;
  border: 3px solid #fff;
}

.pp .big-pp {
  border-radius: 23px;
  background-image: linear-gradient(#ee00ff, #fd9300, #ff0400);
  width: 73px;
  height: 73px;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  z-index: 0;
  right: 0;
}

.pp .plus {
  z-index: 5;
  position: absolute;
  bottom: -20px;
  left: 7px;
  right: 0;
}

.profile-text {
  display: flex;
  width: 239px;
  margin: 15px auto;
}

.profile-text h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  display: inline-block;
}

.profile-text .line-vertical {
  width: 14px;
  height: 0;
  display: inline-block;
  border: 1px solid #878d98;
  transform: rotate(90deg) translateX(10px);
}

.tags {
  color: #878d98;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.profile-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.profile-buttons .btn {
  width: 113px;
  height: 38px;
  text-align: center;
  border-radius: 13px;
  font-size: 14px;
  font-weight: 800;
  line-height: 38px;
  text-decoration: none;
}

.profile-buttons .btn-default,
.profile-buttons .btn-primary:hover {
  background: #eaeef1;
  color: #000;
}

.profile-buttons .btn-primary,
.profile-buttons .btn-default:hover {
  background: #50aaff;
  color: #fff;
}

.story-pp {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-inline-start: 12px;
  width: 436px;
}

.story-pp li {
  width: 60px;
  text-align: center;
}

.story-pp span {
  font-size: 12px;
  font-weight: 700;
}

.hr {
  border: 1px solid #eaeef1;
}

.properties {
  margin-left: 25px;
}

.photos-profile ul {
  column-count: 2;
  column-gap: 134px;
  padding: 4px;
  margin-bottom: -22px;
}

.photos-profile ul li,
.pp-2 ul li {
  display: grid;
  break-inside: avoid;
  grid-template-rows: 1fr auto;
  margin-bottom: 4px;
}

.pp-2 ul {
  column-count: 3;
  column-gap: 0px;
  padding: 4px;
}